In [1]:
import pandas as pd

In [25]:
netflix_py = pd.read_csv("data/netflix.csv")

In [26]:
netflix_py

,Idx,MovieID,Title,UserID,Rating,Day,Month,Year,RatingDate,MovieRelease,YearsSinceRelease
0,1,43,Silent Service,305151,4,20,2,2005,2005-02-20,2000,5
1,2,43,Silent Service,497196,3,13,4,2003,2003-04-13,2000,3
2,3,43,Silent Service,2327803,1,19,8,2001,2001-08-19,2000,1
3,4,43,Silent Service,2625420,2,13,5,2004,2004-05-13,2000,4
4,5,43,Silent Service,1181550,5,12,11,2003,2003-11-12,2000,3
...,...,...,...,...,...,...,...,...,...,...,...
1093851,1093852,17751,Highlander: Season 2,2151468,1,14,5,2005,2005-05-14,1993,12
1093852,1093853,17751,Highlander: Season 2,2633357,3,18,5,2005,2005-05-18,1993,12
1093853,1093854,17751,Highlander: Season 2,384015,5,4,7,2005,2005-07-04,1993,12
1093854,1093855,17751,Highlander: Season 2,744129,4,7,9,2005,2005-09-07,1993,12
1093855,1093856,17751,Highlander: Season 2,1297899,4,31,10,2005,2005-10-31,1993,12

In [46]:
netflix_py.groupby('MovieID')['Rating'].describe().T

MovieID,43,195,206,505,647,667,684,693,721,793,...,17180,17300,17325,17363,17454,17526,17553,17578,17606,17751
count,105.000000,185.000000,1096.000000,2375.000000,691.000000,1104.000000,174.000000,2406.000000,343.000000,207.000000,...,13279.000000,158.000000,139.000000,296.000000,669.000000,32781.000000,81.000000,7912.000000,87.000000,2475.000000
mean,2.571429,3.297297,3.858577,3.139789,3.437048,3.791667,2.609195,3.055278,2.483965,3.492754,...,3.308758,1.715190,3.525180,3.422297,3.076233,3.973277,2.518519,3.479146,2.229885,3.938182
std,1.284951,1.039044,1.112437,0.972146,1.129327,1.078969,1.018401,1.154157,1.025496,1.287994,...,0.972591,0.924485,1.275925,1.278523,1.105994,0.915373,1.085255,0.868598,1.075100,1.133302
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,2.000000,2.000000,3.000000,...,3.000000,1.000000,3.000000,3.000000,2.000000,3.000000,2.000000,3.000000,1.000000,3.000000
50%,3.000000,3.000000,4.000000,3.000000,3.000000,4.000000,3.000000,3.000000,2.000000,4.000000,...,3.000000,1.000000,4.000000,3.000000,3.000000,4.000000,3.000000,4.000000,2.000000,4.000000
75%,3.000000,4.000000,5.000000,4.000000,4.000000,5.000000,3.000000,4.000000,3.000000,5.000000,...,4.000000,2.000000,5.000000,4.250000,4.000000,5.000000,3.000000,4.000000,3.000000,5.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [57]:
def describe(df):
    return pd.concat([df.groupby('MovieID')['Rating'].describe(),
                      df.groupby('MovieID')['Rating'].agg(pd.Series.mode).rename('mode'),
                      df.groupby('MovieID')['Rating'].agg(pd.Series.median).rename('median')
                     ], axis=1).T

describe(netflix_py)

MovieID,43,195,206,505,647,667,684,693,721,793,...,17180,17300,17325,17363,17454,17526,17553,17578,17606,17751
count,105.000000,185.000000,1096.000000,2375.000000,691.000000,1104.000000,174.000000,2406.000000,343.000000,207.000000,...,13279.000000,158.000000,139.000000,296.000000,669.000000,32781.000000,81.000000,7912.000000,87.000000,2475.000000
mean,2.571429,3.297297,3.858577,3.139789,3.437048,3.791667,2.609195,3.055278,2.483965,3.492754,...,3.308758,1.715190,3.525180,3.422297,3.076233,3.973277,2.518519,3.479146,2.229885,3.938182
std,1.284951,1.039044,1.112437,0.972146,1.129327,1.078969,1.018401,1.154157,1.025496,1.287994,...,0.972591,0.924485,1.275925,1.278523,1.105994,0.915373,1.085255,0.868598,1.075100,1.133302
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,2.000000,2.000000,3.000000,...,3.000000,1.000000,3.000000,3.000000,2.000000,3.000000,2.000000,3.000000,1.000000,3.000000
50%,3.000000,3.000000,4.000000,3.000000,3.000000,4.000000,3.000000,3.000000,2.000000,4.000000,...,3.000000,1.000000,4.000000,3.000000,3.000000,4.000000,3.000000,4.000000,2.000000,4.000000
75%,3.000000,4.000000,5.000000,4.000000,4.000000,5.000000,3.000000,4.000000,3.000000,5.000000,...,4.000000,2.000000,5.000000,4.250000,4.000000,5.000000,3.000000,4.000000,3.000000,5.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mode,3.000000,3.000000,5.000000,3.000000,3.000000,4.000000,3.000000,3.000000,2.000000,5.000000,...,3.000000,1.000000,4.000000,3.000000,3.000000,4.000000,3.000000,4.000000,1.000000,5.000000
median,3.000000,3.000000,4.000000,3.000000,3.000000,4.000000,3.000000,3.000000,2.000000,4.000000,...,3.000000,1.000000,4.000000,3.000000,3.000000,4.000000,3.000000,4.000000,2.000000,4.000000